src/main/resources/SecureService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ttdev.com/ss"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:wsp="http://www.w3.org/2006/07/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wsswssecurity-
utility-1.0.xsd"
	name="SecureService" targetNamespace="http://ttdev.com/ss">
	<wsp:Policy wsu:Id="p1">
		<sp:AsymmetricBinding>
			<wsp:Policy>
				<sp:InitiatorToken>
					<wsp:Policy>
						<sp:X509Token
							sp:IncludeToken="http://docs.oasis-open.org/ws-sx/wssecuritypolicy/200702/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssX509V3Token10 />
							</wsp:Policy>
						</sp:X509Token>
					</wsp:Policy>
				</sp:InitiatorToken>
				<sp:RecipientToken>
					<wsp:Policy>
						<sp:X509Token
							sp:IncludeToken="http://docs.oasis-open.org/ws-sx/wssecuritypolicy/200702/IncludeToken/Never">
							<wsp:Policy>
								<sp:WssX509V3Token10 />
							</wsp:Policy>
						</sp:X509Token>
					</wsp:Policy>
				</sp:RecipientToken>
				<sp:AlgorithmSuite>
					<wsp:Policy>
						<sp:TripleDesRsa15 />
					</wsp:Policy>
				</sp:AlgorithmSuite>
			</wsp:Policy>
		</sp:AsymmetricBinding>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://ttdev.com/ss">
			<xsd:element name="concat">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="s1" type="xsd:string" />
						<xsd:element name="s2" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="concatResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="r" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="concatRequest">
		<wsdl:part element="tns:concat" name="parameters" />
	</wsdl:message>
	<wsdl:message name="concatResponse">
		<wsdl:part element="tns:concatResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="SecureService">
		<wsdl:operation name="concat">
			<wsdl:input message="tns:concatRequest" />
			<wsdl:output message="tns:concatResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SecureServiceSOAP" type="tns:SecureService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="concat">
			<wsp:PolicyReference URI="#p1" wsdl:required="true" />
			<soap:operation soapAction="http://ttdev.com/ss/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SecureService">
		<wsdl:port binding="tns:SecureServiceSOAP" name="p1">
			<soap:address location="http://localhost:8080/ss/p1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>